<div class="col m3 offset-m1" style="border: solid #f18101 1px;">
    <div class="card-panel deep-orange accent-1">
        <h4 class="center-align">YOUR LIST !</h4>
    </div>
        <div *ngIf="items?.length; else emptyTemplate" class="puppy-card">
            <div class="" *ngFor="let item of items">
                <div class="card">
                    <div class="card-image ">
                        <img src="{{ item.imageUrl }}">
                    </div>
                    <div class="card-content">
                        <div class="favorite right"><i class="material-icons">favorite</i></div>
                        <span class="card-title">{{ item.name | titlecase }}</span>
                        <p>Age: {{ item.age }}</p>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit">Adopted</button>
                </div>
            </div>
        </div>
        <ng-template #emptyTemplate class="">
            <div class="materialert error">
                <div class="material-icons">sentiment_very_dissatisfied</div>
                No Puppy Adopted!
            </div>
        </ng-template>
</div>