<div class="col m6">
        <div class="card-panel title deep-orange accent-1">
            <h4>Create a puppy !</h4>
        </div>
        <form [formGroup]="myForm" class="card-panel">

            <div class="input-field">
                <label class="active">Name</label>
                <input type="text" class="form-control" name="name" formControlName="name" placeholder="Bob" required>
                <span *ngIf="f.name.invalid && f.name.touched && f.name.errors?.required" class="invalid-feedback">
                    <sup>*</sup>Name is required
                </span>
                <span *ngIf="f.name.errors?.minlength" class="invalid-feedback">
                    <sup>*</sup>Name must be at least 3 characters long
                </span>
                <span *ngIf="f.name.errors?.maxlength" class="invalid-feedback">
                    <sup>*</sup>Name can be max 10 characters long
                </span>
                <span *ngIf="f.name.errors?.pattern" class="invalid-feedback">
                    <sup>*</sup>Text only
                </span>
            </div>

            <div class="input-field">
                <label class="active">Age</label>
                <input type="text" class="form-control" name="age" formControlName="age" placeholder="5" required>
                <span *ngIf="f.age.invalid && f.age.touched && f.age.errors?.required" class="invalid-feedback">
                    <sup>*</sup>Age is required
                </span>
                <div *ngIf="f.age.errors?.max" class="invalid-feedback">
                    <sup>*</sup>Maximum required age is 14
                </div>
                <div *ngIf="f.age.errors?.min" class="invalid-feedback">
                    <sup>*</sup>Minimum required age is 1
                </div>
                <div *ngIf="f.age.errors?.pattern" class="invalid-feedback">
                    <sup>*</sup>Number only
                </div>
            </div>

            <div class="input-field">
                <label class="active">Picture</label>
                <input type="text" class="form-control" name="imageUrl" formControlName="imageUrl"
                    placeholder="https://via.placeholder.com/150.jpg" required>
                <span *ngIf="f.imageUrl.invalid && f.imageUrl.touched && f.imageUrl.errors?.required"
                    class="invalid-feedback">
                    <sup>*</sup>URL is required
                </span>
                <span *ngIf="f.imageUrl.errors?.pattern" class="invalid-feedback">
                    <sup>*</sup>Please enter valid URL</span>
            </div>

            <div class="btn-group btn-group-sm">
                <button type="submit" class="btn btn-success" [disabled]="!myForm.valid"
                    (click)="onAddPuppy()">Create</button>
                <button type="button" class="btn btn-dark" (click)="goBack()">Home</button>
            </div>
        </form>
    </div>
   <app-guideline></app-guideline>