/* invalid color */
.invalid-feedback {
    color: rgb(216, 19, 19);
}

::placeholder {
    /* Firefox, Chrome, Opera */
    color: rgb(90, 90, 90);
}

/* label color */
.input-field label {
    color: #000;
    font-size: large;
}