@import "variables";

body {
  // background-image: url('/assets/images/paw.jpg');
  background-color: $bg-color;
  font-family: $font;
}

#{headings(1,6)} {
  font-family: $heading-font;
  margin: 0;
  letter-spacing: 2px;
}

.nav-wrapper {
  font-family: $heading-font;
  letter-spacing: 1px;
}

.card {
  margin: 10px;
}

.card .card-content {
  padding: 5px 0 15px 0;
  text-align: center;
}

.show-image {
  padding: 10px;
}

img {
  background-color: #f4ff81;
  width: 100%;
  object-fit: cover;
}

.card-image {
  height: 30vh;
}


.btn {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 0;
  font-size: 12px;
}

.btn-group {
  display: flex;
}

.btn {
  box-shadow: none;
}

/* invalid color */
.invalid-feedback {
  color: #d81313;
}

/* label color */
.input-field label {
  color: #000;
  font-size: large;
}

.materialert {
  position: relative;
  // min-width: 150px;
  // max-width: 210px;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 15px;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: all 0.1s linear;
  //   webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.materialert .material-icons {
  margin-right: 10px;
}

.materialert.info {
  background-color: #039be5;
  color: #fff;
}
.materialert.success {
  background-color: #43a047;
  color: #fff;
}
.materialert.error {
  background-color: #c62828;
  color: #fff;
}
.materialert.danger {
  background-color: #c62828;
  color: #fff;
}
.materialert.warning {
  background-color: #fbc02d;
  color: #fff;
}
